* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  gap: 1rem;
  background-color: lightblue;
  padding: 1rem;
  margin-bottom: 1rem;
}

nav a:link {
  text-decoration: none;
}

nav a.active {
  color: white;
}
